
<ion-view view-title="Dips">
 <ion-content>
 <h2 class="padding-horizontal">Around me</h2>
 <div class="list card">

  <div class="item item-avatar">
    <img src="/img/adam.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="/img/test1.jpg" style="width:128px;height:128px;">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>
 </ion-content>
</ion-view>