<ion-view>
<ion-content>
<div class="button-bar">
  <a class="button icon-middle ion-ios-arrow-back button-clear button-dark" style="height:100%;width:100%"> 
  <a class ="button button-clear button-dark" style="font-family:Helvetica; font-size: 25px" style="height:100%;width:100%">DIPS</a>
  <a class="button icon-middle ion-ios-gear-outline button-clear button-dark" style="height:100%;width:100%"></a>
</div>

	<button class="button" style="margin:auto;width:100%;height:255px">
	<img src="../img/map.png" style="width:100%;height:100%">
	</button>

<div>
<p style="font-style: Optima; font-size: 20px">&nbsp;&nbsp;&nbsp;News Feed</p>
</div>

<div class="list card">

  <div class="item item-avatar">
    <img src="../img/cloudy.png">
    <h2>21st March 2016</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/cloudy.png">
    <h2>21st April 2016</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/cloudy.png">
    <h2>21st May 2016</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/cloudy.png">
    <h2>21st June 2016</h2>
  </div>

</div>


</ion-content>
</ion-view>