<ion-view>
<ion-content>
<div class="button-bar">
  <a class="button icon-middle ion-ios-arrow-back button-clear button-dark" style="height:100%;width:100%"> 
  <a class ="button button-clear button-dark" style="font-family:Helvetica; font-size: 25px" style="height:100%;width:100%">DIPS</a>
  <a class="button icon-middle ion-ios-gear-outline button-clear button-dark" style="height:100%;width:100%"></a>
</div>

	<button class="button" style="margin:auto;width:100%;height:235px">
		<img src="../img/map.png" style="width:100%;height:100%">
	</button>

<div>
<p style="font-style: Optima; font-size: 20px">&nbsp;&nbsp;&nbsp;News Feed</p>
</div>

<div class="list card">

  <div class="item item-avatar">
    <img src="../img/3.png">
    <h2>02:00pm | 21/09/2016<br />Highway B, City A<br />Heavy flooding</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/2.png">
    <h2>01:00am | 19/09/2016<br />Underpass G, City H<br />Flash flood</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/1.png">
    <h2>11:00pm | 14/09/2016<br />Road J, Town B<br />Drain blockage</h2>
  </div>

  <div class="item item-avatar">
    <img src="../img/2.png">
    <h2>06:00pm | 13/09/2016<br />Road D, City P<br />Flash flood</h2>
  </div>

</div>


</ion-content>
</ion-view>