<ion-tabs class="tabs-icon-only tabs-color-active-positive tabs-icon-only">
 <!-- Feed Tab -->
 <ion-tab title="Feed" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/home/feed">
 <ion-nav-view name="tab-home"></ion-nav-view>
 </ion-tab>
 <!-- Search Tab -->
 <ion-tab title="Search" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" ui-sref="home.search">
 <ion-nav-view name="tab-navigate"></ion-nav-view>
 </ion-tab>
 <!-- Settings Tab -->
 <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="home.settings">
 <ion-nav-view name="tab-settings"></ion-nav-view>
 </ion-tab>
</ion-tabs>