<ion-nav-view>
<ion-view hide-back-button='false'>
 <ion-content>
 <div class="button-bar">
  <a class="button icon-middle ion-ios-arrow-back button-clear button-dark" style="height:100%;width:100%"> 
  <a class ="button button-clear button-dark" style="font-family:Helvetica; font-size: 25px" style="height:100%;width:100%">DIPS</a>
  <a class="button icon-middle ion-ios-gear-outline button-clear button-dark" style="height:100%;width:100%"></a>
</div>
 <h2 class="padding-horizontal">Navigate</h2>
   <div class="list card">

   <h4 class="padding-horizontal">Search location: </h4>
     <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search">
    </label>
    <a class="button icon icon-right ion-chevron-right" href="#/home/navigate2">Search</a>

  </div>
  </div>

 </ion-content>
</ion-view>
</ion-nav-view>