<ion-nav-view>
<ion-view>
 <ion-content hide-back-button='false'>
 <div class="button-bar">
  <a href="#/home/navigate" class="button icon-middle ion-ios-arrow-back button-clear button-dark" style="height:100%;width:100%"> 
  <a class ="button button-clear button-dark" style="font-family:Helvetica; font-size: 25px" style="height:100%;width:100%">DIPS</a>
  <a class="button icon-middle ion-ios-gear-outline button-clear button-dark" style="height:100%;width:100%"></a>
</div>
  <ion-scroll zooming="true" direction="xy" style="margin:auto;width:100%;height:280px">
    	<img src="/img/NewMap.png">
   </ion-scroll>

   <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      <h2 style="font-size:19px">Happenings</h2>
    </div>
    <select style="font-size:16px">
      <option>10km</option>
      <option>20km</option>
      <option selected>30km</option>
    </select>
  </label>

  <div class="list card">

  <div class="item item-avatar">
    <img src="../img/3.png">
    <h2>03:00pm | 21/09/2016<br />Jalan Parlimen<br />Heavy flooding</h2>
  </div>
</div>

</div>

 </ion-content>
</ion-view>
</ion-nav-view>